@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display&family=Roboto&display=swap");

.container{
    max-width: 80rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--bg-color-theme);
  padding: 5rem 5rem 3rem 1.5rem;
  width: 100%;
  font-family: "proximanovaregular";
  /* border-top: 3px solid var(--primary-01);
  border-bottom: 3px solid var(--primary-01); */
  
}
.wrapper-body {
  padding-left: 1.5rem;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 560;
  letter-spacing: 0.83px;
  font-size: 1.5rem;
  border-left: solid maroon 4px;
  padding-left: 1rem;
  margin-left: 1rem;
  color: maroon;
  background-color: rgb(243, 194, 134);

}

span {
  color: white;
}

p {
  color: #9b9a9a;
  font-family: "Montserrat";
  font-size: 0.8rem;
  line-height: 18px;
  margin: 2rem 0;
  width: 85%;
}


.read-page-link {
  color: maroon;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

.card-img{
    width:100vw;
    margin-bottom: -0.25rem;
}

/* ==========MEDIA QUERIES (small devices) ========= */
@media screen and (max-width:600px) {
  .wrapper,.container{
   
    padding: 0;
  }
  .wrapper-body{
    
    width: 100%;
  }
}