@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display&family=Roboto&display=swap");

.container{
    max-width: 80rem;
}
.wrapper {

  /* filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 115, 255));  */
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5rem 5rem 3rem 1.5rem;
  width: 100%;
  font-family: "proximanovaregular";
  background-color: var(--bg-color-theme)!important;
  position: relative;
}
.wrapper::after{
  background-image: url("../../images/sparkle-5.57c3794f.gif");
  background-size: cover;
  background-position: center center;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  mix-blend-mode: color-dodge;
  /* opacity: 0.5; */
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
}
.wrapper-body {
  padding-left: 1.5rem;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 560;
  letter-spacing: 0.83px;
  font-size: 3rem!important;
  /* border-left: solid maroon 4px; */
  padding-left: 1rem;
  /* margin-left: 1rem; */
  /* min-height: 3rem; */
  /* background-color: rgb(243, 194, 134); */

}

span {
  color: white;
}

.para {
  /* color: #9b9a9a; */
  font-family: "Montserrat";
  font-size: 1.5rem!important;
  line-height: 2rem!important;
  margin: 2rem 0;
  width: 85%;
  height: 14rem;
  color: white!important;
}


.read-page-link {
  color: maroon;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

.card-img{
    width:100vw;
    margin-bottom: -0.25rem;
}

/* ==========MEDIA QUERIES (small devices) ========= */
@media screen and (max-width:600px) {
  .wrapper,.container{
   
    padding: 0;
  }
  .wrapper-body{
    
    width: 100%;
  }
}