@charset "utf-8";
/* CSS Document */

			
#navigationbg{
	width:692px;
	height:60px;
	margin:20px 0 0 0;
	padding:0px;
	float:right;
	background-image:url(../images/tabs_bg.png);
	background-repeat:no-repeat;
	background-position:center top;
	}
#navigationbg2{
	width:692px;
	height:40px;
	margin:0px;
	padding:0px;
	}		
img{
	border:none;
	}
	
.photogalleryimages{
	width:170px;
	height:100px;
	float:left;
	padding:0px 0px 0px 0px;
	margin-right:3px;
	border:1px solid #E2E2E2;
	}	
	
.photogalleryimages:hover{
	width:170px;
	height:100px;
	float:left;
	padding:0px 0px 0px 0px;
	margin-right:3px;
	border:1px solid #DC261B;
	}	
	
.subheadtext{
	color:#666666; 
	font-size:16px; 
	
	float:left;
	line-height:30px;
	}	
	
#mainbanner{
	width:980px;
	height:240px;
	/*background-image:url(../images/banner.jpg);
	background-repeat:no-repeat;
	background-position:center top;*/
	}	
#home_body{
	width:980px;
	padding:10px 0 0 0px;
	float:left;
	}		

#mainbanner_left{
	width:500px;
	height:240px;
	float:left;
	}

#mainbanner_right{
	width:440px;
	height:201px;
	float:right;
	padding:20px 41px 0 0px;
	}		
#box1{
	width:322px;
	height:234px;
	margin:40px 11px 0 0px;
	float:left;
	background-image:url(../images/box1.png);
	background-repeat:no-repeat;
	background-position:center top;
	}
#box2{
	width:322px;
	height:234px;
	margin:10px 11px 0 0px;
	float:left;
	background-image:url(../images/box2.png);
	background-repeat:no-repeat;
	background-position:center top;

	}
	
.box{
	width:322px;
	height:150px;
	margin:0px;
	padding:0px;
	float:left;


	}
	
.box3{
	width:322px;
	height:234px;
	margin:0px;
	padding:0px;
	float:left;


	}
		
	.box4{
	width:322px;
	height:200px;
	margin:0px;
	padding:0px;
	float:left;


	}
	.box5{
	width:322px;
	height:160px;
	margin:0px;
	padding:0px;
	float:left;


	}
				
	
	
.boxtitle{
	width:322px;
	height:50px;
	
	text-align:center;
	font-size:15px;
	color:#666666;
	float:left;

	}
	
	
		
.boxinfo{
	width:280px; height:143px; float:left; margin:0px; padding-left:21px; padding-top:3px;
	
	}	
.boxinfo_compleeted{
	width:280px; height:143px; float:left; margin:0px; padding-left:21px; padding-top:3px;
	
	}	
		
.boxinfo2{
	width:280px; height:143px; float:left; margin:0px; padding-left:21px; padding-top:3px;
	border:solid 1px #ededed;
	}	
		
	
	
		
#box3{
	width:322px;
	height:234px;
	margin:40px 0px 0 0px;
	float:left;
	background-image:url(../images/box3.png);
	background-repeat:no-repeat;
	background-position:center top;
	}	

a{
text-decoration:none; border:none; outline:none; font-size:14px
}


	
.a2 {
	
	font-size: 14px;
	font-weight:normal;
	color: #42494e;
	text-decoration: none;
}
.a2:link {
	color: #42494e;
	text-decoration: none;
}
.a2:hover {
	color: #999999;
}	

.headings{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	color:#FFFFFF;
	line-height:40px;
	padding-left:15px;
	}
.projectheadings{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	color:#FFFFFF;
	line-height:40px;
	padding-left:15px;
	width:190px; 
	float:left;
	}	

.projectheadings2{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	color:#C5351B;
	line-height:40px;
	padding-left:15px;
	width:190px; 
	float:left;
	}
	
.projectheadings3{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	color:#C5351B;
	line-height:40px;
	padding-left:15px;
	width:190px; 
	float:left;
	}
.new{
	width:100%; margin:0px; padding:0px; float:left;
	height:40px;
	}	
		
	
		
.content{
	
	font-size:12px;
	color:#FFFFFF;
	line-height:20px;
	text-align:justify;
	
	}
/*p{
	font-size:13px;
	font-weight:normal;
	color:#222222;
	line-height:20px;
	text-align:justify;
	margin:0px;
	padding:0px;
	}*/
.content2{
	
	font-size:14px;
	color:#666666;
	line-height:20px;
	text-align:justify;
	
	}	
.content3{
	width:960px;
	min-height:500px;
	
	font-size:13px;
	color:#7D7D7D;
	line-height:20px;
	text-align:justify;
	padding:0 0 15px 0px;
	float:left; /*border:1px solid #ccc;*/
	
	}	
		
.span{
	
	font-size:14px;
	color:#ed2825;
	line-height:20px;
	text-align:justify;
	font-weight:bold;
	text-transform:capitalize;
	}
			
#imganimation{
	width:500px;
	height:230px;
	position:absolute;
	top:153px;
	left:12.4%;
	}
.mainbody_bg{
	width:100%;
	height:42px;
	float:left;
	margin-top:5px;
	}
.mainbody_middle{
	width:988px;
	padding:0px 0 15px 0px;


	float:left;
	}
.mainbody_bottom{
	width:100%;
	height:30px;
	background-image:url(../images/bm.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	float:left;
	}	
.projects_headings{
	width:980px;
	height:48px;
	float:left;
	padding:0 0 0px 0px;
	
	}		
.heading2{
	
	font-size:18px;
	color:#666666;
	font-weight:normal;
	text-transform:uppercase;
	}
	
.heading3{
	
	font-size:15px;
	color:#DC261B;
	font-weight:normal;
	text-transform:capitalize;
	float:left;
	width:100%;
	}	
	
#pro_img, .heading3{
	
	font-size:15px;
	color:#DC261B;
	font-weight:normal;
	text-transform:capitalize;
	float:left;
	width:100%;
	line-height:32px;
	}		
	
	
						
.nextbuttons{
	width:41px;
	height:48px;
	margin:0px;
	padding:0px;
	float:right;
	}	
.projectthumb{
	width:321px;
	height:210px;
	padding: 0px 9px 0 0px;
	float:left;
	}
.projectthumb2{
	width:321px;
	height:235px;
	padding: 0px 9px 0 0px;
	float:left;
	margin:0px;
	}	
#projectdes{
	width:960px;
	height:330px;
	margin:0px 10px;
	padding:0 0 20px 0;
	float:left;
	}
#projectimg{
	width:479px;
	float:left;
	margin:0px;
	padding:0px;
	}	

#projectmap{
	width:479px;
	float:right;
	margin:0px;
	padding:0px;
	}		
#photo_but{
	width:132px;
	height:33px;
	margin:0px;
	padding:0px;
	float:left;
	}		
#bro_but{
	width: auto;
	height:33px;
	margin:10px 0 0 0; text-align:center;
	padding:0px 0px 0 0px;
	float:left;
	}	
#pro_img{
	width:479px;
	height:282px;
	margin:0px;
	padding:8px 0px 0 0px;
	float:left;
	}
ul#profile{
	padding-left:20px;
	padding-right:20px;
 	color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
	margin:0px;
}
/*ul#profile li#prof{
    color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
	list-style:outside;
	list-style-image:url(../images/bullet.gif);
	padding-bottom:10px;
	text-align:left;
	}*/
	ul#services{
	padding-left:20px;
	padding-right:20px;
 	color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
}
ul#services li#prof{
    color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
	list-style:outside;
	list-style-image:url(../images/bullet.gif);
	padding-bottom:10px;
	}

ul#servicesmain{
padding-left:20px;
padding-right:20px;
 color: #006699;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}
ul#servicesmain li#prof{
    color: #006699;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
	list-style:outside;
	list-style-image:url(../images/bullet.gif);

	}
ul#servicesmain{
	padding-left:20px;
	padding-right:20px;
 	color: #006699;
	padding-top:0px;
	margin:0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 25px;
    line-height: 25px;
}
ul#servicesmain li#prof{
	 color: #222222;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    list-style: disc outside url("../images/bullet.gif");
    text-transform: capitalize;
	}
/*b{
	color:#DC261B;
	font-weight:bold;
}	*/		
		
.contactcontentmain {
	width:930px;
	border: 1px solid #d8e3e9/*{borderColorContent}*/; 
	background: #ffffff/; 
	color: #222222/*{fcContent}*/; 
	
	font-size:13px; 
	line-height:23px; 
	text-align:justify;
	padding:10px 10px 10px 35px;
	margin: 20px 5px 5px  6px;
	float:left;
/*	background-image:url(../images/newsicion.png); 
	background-repeat:no-repeat;*/
	background-position:left top;

	-moz-border-radius-topleft: 8px/*{cornerRadius}*/; -webkit-border-top-left-radius: 8px/*{cornerRadius}*/; border-top-left-radius: 8px/*{cornerRadius}*/; 
	-moz-border-radius-topleft: 8px/*{cornerRadius}*/; -webkit-border-top-left-radius: 8px/*{cornerRadius}*/; border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px/*{cornerRadius}*/; -webkit-border-top-right-radius: 8px/*{cornerRadius}*/; border-top-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 8px/*{cornerRadius}*/; border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 8px/*{cornerRadius}*/; border-bottom-right-radius: 8px;
	-moz-border-radius-topleft: 8px/*{cornerRadius}*/; -webkit-border-top-left-radius: 8px/*{cornerRadius}*/; border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px/*{cornerRadius}*/; -webkit-border-top-right-radius: 8px/*{cornerRadius}*/; border-top-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 8px/*{cornerRadius}*/; border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 8px/*{cornerRadius}*/; border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px/*{cornerRadius}*/; -webkit-border-top-right-radius: 8px/*{cornerRadius}*/; border-top-right-radius: 8px;
	-moz-border-radius-bottomright: 8px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topleft: 8px/*{cornerRadius}*/; -webkit-border-top-left-radius: 8px/*{cornerRadius}*/; border-top-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 8px/*{cornerRadius}*/; border-bottom-left-radius: 8px/*{cornerRadius}*/; 
	-moz-border-radius: 8px/*{cornerRadius}*/; -webkit-border-radius: 8px/*{cornerRadius}*/; border-radius: 8px;
	}		
	
.faqinnercontent{
	
	font-size:12px;
	}
.unit_box{
	width:437px;
	height:200px;
	margin:0px;
	padding:0px 0 0 30px;
	height:200px;
	}	
.headings2{
	
	font-size:16px;
	font-weight:normal;
	color:#DC261B;
	margin:0px;
	padding:0px;
	text-transform:uppercase;
	}	
.a1 {

	}
.a1:link{
	
	font-size:14px;
	color:#c5351b;
	text-decoration:none;
}	

.a1:hover{
	color:#666666;
	text-decoration:none;
}
	
.a1:active{	text-decoration:none;}
			

.subhead2{
	
	font-size:14px;
	font-weight:normal;
	color:#000000;
	text-transform:capitalize;
	}	
.subhead3{
	width:92px;
	
	font-size:12px;
	font-weight:normal;
	color:#000000;
	text-transform:capitalize;
	float:left;
	text-align:center;
	}	
.span_new{
	
	font-size:14px;
	font-weight:bold;
	color:#666666;
	text-transform:capitalize;
	}
.unitbox_img{
	width:92px;
	height:133px;
	float:left;
	margin:0px;
	padding:0px 0px 0 0;
	border:solid #EDEDED 1px;
	}
.unitbox_img{width:92px; height:133px; float:left; margin:0px; padding:0px 0px 0 0; border:solid #EDEDED 1px;}	
.unitbox_img a{width:92px; height:133px; float:left; margin:0px; padding:0px 0px 0 0; border:solid #EDEDED 1px;}	
.unitbox_img a:hover{width:92px; height:133px; float:left; margin:0px; padding:0px 0px 0 0; border:solid #000000 1px;}	


.unitbox_img2{width:92px; height:133px; float:left; margin:0px; padding:0px 0px 0 0; border:solid #EDEDED 1px;}
.unitbox_img2 a{width:92px; height:133px; float:left; margin:0px; padding:0px 0px 0 0; border:solid #EDEDED 1px;}	
.unitbox_img2 a:hover{width:92px; height:133px; float:left; margin:0px; padding:0px 0px 0 0; border:solid #000000 1px;}	



			
.unitbox_controles{
	width:92px;
	float:left;
	margin:0px;
	padding:0px 20px 0 0;
	}	


.unitbox_controles2{
	width:92px;
	float:left;
	margin:0px;
	padding:0px 0px 0 0;
	}	
	
.unitbox_controlesnew2{
	width:230px;
	float:left;
	margin:0px;
	padding:0px 20px 0 0;
	}	

.unitbox_controlesnew2{
	width:222px;
	float:left;
	margin:0px 0 0 0;
	padding:0px 0px 0 0;
	}
.unitbox_controlesnew3{
	width:222px;
	float:left;
	margin:0px 20px 20px 0px;
	padding:0px 0px 0 0;
	}	
.unitbox_imgnew2{
	width:222px;
	height:150px;
	float:left;
	margin:0px;
	padding:0px 0px 0 0;
	border:solid #fff 1px;
	overflow:hidden;
	}	
.subhead3new2{
	width:222px;
	
	font-size:12px;
	font-weight:bold;
	color:#014E86;
	text-transform:capitalize;
	float:left;
	text-align:center; margin-bottom:20px;
	}
.subhead3new2_new{
	width:222px;
	
	font-size:12px;
	font-weight:normal;
	color:#014E86;
	text-transform:capitalize;
	float:left;
	text-align:center; margin-bottom:0px;
	}
.unit_boxnew2{
   width:975px;
	height:155px;
	margin:0px;
	padding:0px 0 0 0px;
	}						
.compleeted_lable{
	width:126px;
	height:126px;
	position:absolute;
	}					
		
.bannerl{
	width:654px;
	height:240px;
	float:left;
	}	
.bannerr{
	width:328px;
	height:240px;
	float:right;
	}			
		