/*Project menu& tabs start*/	

/*#menu {
  width: 960px;
  height: 38px;
  clear: both; margin:20px 0;
}

ul#nav {
  float: left;
  width: 960px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #dc0000 url(../img/menu-parent.png) repeat-x;

}

ul#nav li {
  display: inline;
}

ul#nav li a {
  float: left;
  font-family: 'Noto Sans',sans-serif; font-size:15px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;

  margin: 0;
  padding: 0 24px;
  background: #dc0000 url(../img/menu-parent.png) repeat-x;
   
}


ul#nav .current a, ul#nav li:hover > a, ul#nav li.select> a  {
  color: #fff;
  text-decoration: none;

  background:#25308d;  

}

ul#nav  ul {
  display: none;
}

ul#nav li:hover > ul {
  position: absolute;
  display: block;
  width: 920px;
  height: 35px;
  position: absolute;
  margin: 38px 0 0 0;
  background:#25308d;  

}

ul#nav li:hover > ul li a {
  float: left;
  font-family: 'Noto Sans',sans-serif; font-size:15px;
  line-height:35px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #110000;
  margin: 0;
  padding: 0 30px 0 0;
  background:#25308d; 
}

ul#nav li:hover > ul li a:hover {
  color: #a0a3ff;
  text-decoration: none;
  text-shadow: none;
}*/




.tab h3{

padding: 3px;
font-family:"Century Gothic";
font-size: 12px;
color:#393EDF;
margin: 0 1px 1px 0;
text-align: center;
background: none;
}

.tab h3 a{
font-family: "Century Gothic";
font-size: 12px;
color:#2d308d;
margin: 0;
padding:0px;
text-decoration:none;
}
.tab h3 a:hover{
font-family: "Century Gothic";

color:#393EDF;
margin: 0;
padding:0px;
text-align: center;
}

h3{
font-family: "Century Gothic";
margin: 0;
padding: 0px;
font-size: 12px;
color:#393EDF;
}
p{
font-family: "Century Gothic";
margin: 0;
padding: 0px;
line-height:22px; margin-bottom:15px;
}
#wrapper{
width: 960px;
margin: 0 auto;
position:relative; left:0px;

}
#left{
font-family: "Century Gothic";
float: left;
width: 175px; margin-right:20px
}
#right{
font-family: "Century Gothic";
float: right;
width:760px;
}
.tab{
font-family: "Century Gothic";
color: #333;
padding:4px 0 4px 0;
margin: 0px 1px 6px 0;
text-align: center;
background:#fff;
/*border-bottom:1px solid #2d308d;*/

}
.stretcher{
font-family: "Century Gothic";
background:none;
font-size:12px;}

.category{  margin:0 20px 10px 0; padding:5px; border:1px solid #ccc; width:auto; height:auto; float:left;}
.category:hover{ border:1px solid #666;}
.point li {
     font-family: "Century Gothic";
    font-size: 13px;
    line-height: 24px;
    list-style-type: disc; color:#222;
}

/*Project menu& tabs end*/	
