.navbar {
    width: 100vw !important;
    justify-content: center !important;
}
.bg-da{
    background-color: var(--primary-font-color)!important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--bg-color-theme)!important;
    font-size: larger;
}
.navbar-nav:hover .nav-link.active:hover, .navbar-nav:hover .show:hover>.nav-link:hover {
    color: var(--primary-01)!important;
    font-size: larger;
}

 .dropdown-item, .dropdown-menu{
    color: var(--primary-font-color)!important;
    background-color: var(--primary-01)!important;
}
.dropdown-item:hover{
    color: var(--bg-color-theme)!important;
}
.mx{
    padding-left: 14rem!important;
}

i {
    color: var(--primary-color-theme);
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
}


i:hover {
    color: var(--primary-01);
    transition: 500ms;
}

@media screen and (max-width:600px){
    .mx{
        padding-left: 0!important;
    }
} 