.card-title {
 
    text-transform: uppercase;
    font-family: "playfairdisplayregular";
    font-weight: 560;
    letter-spacing: 0.83px;
    font-size: 1.5rem;
    border-left: solid var(--secondary-01) 4px;
    padding-left: 1rem;
    margin-left: 1rem;
    color: var(--secondary-01);
    /* background-color: rgb(243, 194, 134); */
  }

 .hite{
  margin-top: 4rem!important;
 }
 .spaceDown{
  margin-bottom: 2rem;
 }
  .card{
    border: none!important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
  }
  .card-body{
    background-color: var(--primary-01);

  }

  .card:hover{
    transform: translateY(-13px);
    transition: 500ms  ease-in-out;
  }